@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: 'LibreBaskervilleRegular';
  src: url("/fonts/LibreBaskerville-Regular-webfont.eot");
  src: url("/fonts/LibreBaskerville-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/LibreBaskerville-Regular-webfont.woff") format("woff"), url("/fonts/LibreBaskerville-Regular-webfont.ttf") format("truetype"), url("/fonts/LibreBaskerville-Regular-webfont.svg#LibreBaskervilleRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LibreBaskervilleItalic';
  src: url("/fonts/LibreBaskerville-Italic-webfont.eot");
  src: url("/fonts/LibreBaskerville-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/LibreBaskerville-Italic-webfont.woff") format("woff"), url("/fonts/LibreBaskerville-Italic-webfont.ttf") format("truetype"), url("/fonts/LibreBaskerville-Italic-webfont.svg#LibreBaskervilleItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LibreBaskervilleBold';
  src: url("/fonts/LibreBaskerville-Bold-webfont.eot");
  src: url("/fonts/LibreBaskerville-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/LibreBaskerville-Bold-webfont.woff") format("woff"), url("/fonts/LibreBaskerville-Bold-webfont.ttf") format("truetype"), url("/fonts/LibreBaskerville-Bold-webfont.svg#LibreBaskervilleBold") format("svg");
  font-weight: normal;
  font-style: normal; }

.heading-large {
  font-family: arial, helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 2;
  margin-top: 0; }
  @media (min-width: 641px) {
    .heading-large {
      font-size: 26px;
      margin-bottom: 30px; } }
  @media (min-width: 769px) {
    .heading-large {
      font-size: 30px; } }

footer {
  clear: both;
  border-top: 1px solid #d5d5d5;
  background: #f7f7f7; }
  footer nav {
    box-sizing: border-box;
    padding-bottom: 10px; }
    footer nav .nav-item {
      box-sizing: border-box;
      font-family: arial, helvetica, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.4;
      padding: 10px;
      width: 100%;
      display: inline-block; }
      @media (min-width: 769px) {
        footer nav .nav-item {
          font-size: 19px; } }
      @media (min-width: 641px) {
        footer nav .nav-item {
          padding: 20px;
          padding-bottom: 40px;
          width: 25%; } }
    footer nav .arrow {
      display: none; }
      @media (min-width: 641px) {
        footer nav .arrow {
          display: inline; } }
    footer nav #previous-link {
      text-align: center; }
      @media (min-width: 641px) {
        footer nav #previous-link {
          float: left;
          text-align: left; } }
    footer nav #next-link {
      text-align: center; }
      @media (min-width: 641px) {
        footer nav #next-link {
          float: right;
          text-align: right; } }
    footer nav #top-link {
      text-align: center; }
      @media (min-width: 641px) {
        footer nav #top-link {
          float: left;
          margin: 0 auto;
          text-align: center; } }

header {
  border-bottom: 1px solid #d5d5d5;
  background: #f7f7f7; }
  header > .container {
    padding-bottom: 20px; }
  header .site-title {
    font-family: Baskerville, 'LibreBaskervilleRegular', serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 1;
    color: #333;
    margin: 20px 0; }
    header .site-title a {
      color: #333;
      text-decoration: none; }
      header .site-title a:hover {
        text-decoration: underline; }
  header .site-subtitle {
    font-family: Baskerville, 'LibreBaskervilleRegular', serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    font-style: italic;
    color: #333;
    margin-top: 0 0 20px; }
  header .contact-details {
    font-family: Baskerville, 'LibreBaskervilleRegular', serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 1.5; }
    @media (min-width: 641px) {
      header .contact-details {
        text-align: right;
        margin-bottom: 0; } }
    header .contact-details .online a {
      display: inline; }
    header .contact-details .online .divider {
      margin: 0 5px; }
    header .contact-details a, header .contact-details .tel {
      clear: both;
      display: block; }
    header .contact-details .tel {
      margin: 0; }

.meta .title {
  color: #4a4a4a;
  font-weight: 400; }
  .meta .title:first-child {
    margin-top: 20px; }

.meta .data {
  margin-bottom: 40px; }

body {
  margin: 0;
  background: #f4f4f4;
  box-sizing: border-box; }
  body a {
    text-decoration: underline; }

#main {
  margin-top: 20px;
  font-family: arial, helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4; }
  @media (min-width: 769px) {
    #main {
      font-size: 19px; } }
  #main p {
    margin-bottom: 20px; }
  #main .container {
    width: 1170px; }

.intro {
  max-width: 790px; }
  @media (min-width: 641px) {
    .intro {
      margin: 10px 0 60px 0; } }

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative; }
  .back-link:before {
    content: '<';
    left: 0;
    position: absolute; }

.step {
  margin-top: 40px; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

footer nav:after {
  content: "";
  display: table;
  clear: both;
  border-spacing: 0; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: 'LibreBaskervilleRegular';
  src: url("/fonts/LibreBaskerville-Regular-webfont.eot");
  src: url("/fonts/LibreBaskerville-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/LibreBaskerville-Regular-webfont.woff") format("woff"), url("/fonts/LibreBaskerville-Regular-webfont.ttf") format("truetype"), url("/fonts/LibreBaskerville-Regular-webfont.svg#LibreBaskervilleRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LibreBaskervilleItalic';
  src: url("/fonts/LibreBaskerville-Italic-webfont.eot");
  src: url("/fonts/LibreBaskerville-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/LibreBaskerville-Italic-webfont.woff") format("woff"), url("/fonts/LibreBaskerville-Italic-webfont.ttf") format("truetype"), url("/fonts/LibreBaskerville-Italic-webfont.svg#LibreBaskervilleItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'LibreBaskervilleBold';
  src: url("/fonts/LibreBaskerville-Bold-webfont.eot");
  src: url("/fonts/LibreBaskerville-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/LibreBaskerville-Bold-webfont.woff") format("woff"), url("/fonts/LibreBaskerville-Bold-webfont.ttf") format("truetype"), url("/fonts/LibreBaskerville-Bold-webfont.svg#LibreBaskervilleBold") format("svg");
  font-weight: normal;
  font-style: normal; }

.heading-large {
  font-family: arial, helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 2;
  margin-top: 0; }
  @media (min-width: 641px) {
    .heading-large {
      font-size: 26px;
      margin-bottom: 30px; } }
  @media (min-width: 769px) {
    .heading-large {
      font-size: 30px; } }

.thumbnail {
  box-sizing: border-box;
  width: 100%;
  background: #979797;
  padding: 2px;
  border-radius: 0;
  border: 0; }
  .thumbnail .caption {
    color: #fff; }
    .thumbnail .caption p {
      margin: 0;
      padding: 0; }
    .thumbnail .caption .project {
      font-family: arial, helvetica, sans-serif;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.4; }
      @media (min-width: 769px) {
        .thumbnail .caption .project {
          font-size: 19px; } }
    .thumbnail .caption .position {
      font-family: arial, helvetica, sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 1.2; }
      @media (min-width: 641px) {
        .thumbnail .caption .position {
          font-size: 16px; } }
      @media (min-width: 769px) {
        .thumbnail .caption .position {
          font-size: 18px; } }
    .thumbnail .caption a {
      color: #fff;
      text-decoration: none; }
      .thumbnail .caption a:hover {
        text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
