@charset "UTF-8";

.social {
  margin: 0 2rem;
  text-align: center;
}

.social a {
  color: #343a40;
  text-decoration: none;
  font-size: 24px;
  display: block;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 645px) {
  main,
  .social {
    max-width: 1200px;
    margin: 0 auto;
  }

  .social {
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .social a {
    display: inline-block;
    margin-left: 0.5rem;
  }

  .social a:hover {
    color: #0d6efd;
  }

  .social a:last-child {
    margin-right: 2rem;
  }
}

.hero,
.services {
  width: 100%;
}

@media only screen and (min-width: 645px) {
  .hero,
  .services {
    width: calc(100% - 2rem * 2);
    margin: 2rem;
  }
}

.logo {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 0 0 0 -7px;
}

.logo > .highlight {
  color: #d0021b;
}

@media only screen and (min-width: 860px) {
  .logo {
    font-size: 5rem;
  }
}

/* Big hero section card
  By default show just the main content at 100%

  Non-mobile screens split the card into 2, adding a
  picture to make things more interesting
 */
.big-card {
  display: flex;
  position: relative;
  overflow: hidden;
}

.big-card > * {
  width: 100%;
  overflow: hidden;
}

.big-card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  margin: 0 1rem;
}

.big-card > *:nth-child(2) {
  display: none;
}

@media only screen and (min-width: 645px) {
  .big-card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 430px;
  }

  .big-card > * {
    width: 50%;
    overflow: hidden;
  }

  .big-card .card-content {
    margin: 0 2rem;
  }

  .big-card > *:nth-child(2) {
    display: block;
  }

  .big-card .cover-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }
}

/* A regular card has an image and text below */
.card > .card-content {
  padding: 1rem;
}

@media only screen and (min-width: 645px) {
  .card > .card-content {
    padding: 2rem;
  }
}

/* Card Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));

  grid-gap: 1rem;
  margin-bottom: 1.25rem;
}

.card-grid > * {
  margin-bottom: 0;
  margin-right: 0;
  flex-basis: unset;
  max-width: 100%;
}

.card-grid > *:nth-child(odd) {
  margin-right: 0;
}

@media only screen and (min-width: 645px) {
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  /* Add rounded corners to the top left and the top right corner of the image */
  .card > img {
    border-radius: 5px 5px 0 0;
  }
}
