html,body {
	font-family: Verdana, Arial, Helvetica;
	margin: .25em auto 0 auto;
	width: 50em;
}
h1 {
	text-align:center;
	background: #DEDEDE;
	padding: .25em 0;
	margin: .25em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}
h2 {
	text-align:center;
	background: #DEDEDE;
	padding: .25em 0;
	margin: .25em;
	-moz-border-radius-topleft: .5em;
	-moz-border-radius-topright: .5em;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
}
ul,ol,li,dl,dt {
	list-style-type: none;
}


.skills-list {
	overflow:hidden;
}
.skills-list .skill {
	list-style-type:none;
	width: 40%;
	padding:0 5% .5em 5%;
	margin:0;
	float:left;
}

.section .contract-list, .section .section-body {
	border: 1px solid #DDD;
	-moz-border-radius-bottomleft: .5em;
	-moz-border-radius-bottomright: .5em;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	padding: 2em 0;
	margin-bottom: 2em;
}

.section p {
	margin: 0 1.5em;
}

.section .sub-title {
	margin:0;
}


.contract-list {
	margin:0;
	padding:0;
}
.section-title {
	background: #DDD;
	font-weight: bold;
	margin: .75em 0;
	padding: .75em 1em;
}
.section-description {
	margin: 1.5em;
}
.task {
	padding: .5em 5em ;
	margin:0;
	font-style: italic;
}
.contact-details {
	text-align:center;
	font-size: 100%;
	margin-bottom: 2em;
}