html,body {
	font-family: Verdana, Arial, Helvetica;
	margin: .25em 0 0 0;
	width: 100%;
	font-size: 18pt;
}

h2,.section {
	border-radius: 0;
}

.section ol, .section .section-body {
	border: none;
}

h2,h1 {
	font-size: 200%;
}

dd.task {
	padding: .5em 2em ;
	margin:0;
	font-style: italic;
}